:root {
	--main-text-color: #212121;
	--descriptions-text-color: #757575;
	--main-background-color: #ffffff;
	--text-selection-color: #2196f3;
	--third-text-color: #f5f4fa;
	--background-hero: #c4c4c4;
	--background-footer: #2f303a;
	--social-icon-color: #afb1b8;

	--cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}

section {
	padding: 94px 0px;
}
a {
	text-decoration: none;
}

svg {
	display: block;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
	margin: 0px;
	padding: 0px;
	font-size: inherit;
}

li {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.vissualy-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}
/*  header */
header {
	background-color: var(--main-background-color);
	border-bottom: 1px solid #ececec;
}

.main-nav,
nav,
.nav-menu,
.contacts-header {
	display: flex;
	align-items: center;
}

.contacts-header {
	margin-left: auto;
	gap: 50px;
}

.logo-header,
.logo-footer {
	font-family: "Raleway", sans-serif;
	text-decoration: none;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: #000000;
}

.logo-header > span,
.logo-footer > span {
	color: var(--text-selection-color);
}

.nav-menu-item,
.nav-contacts {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--main-text-color);

	transition: color 250ms var(--cubic-bezier);
}

.nav-menu-item {
	position: relative;
}

.nav-menu-item:hover,
.nav-menu-item:focus,
.nav-contacts:hover,
.nav-contacts:focus,
.footer-contacts:hover,
.footer-contacts:focus {
	color: var(--text-selection-color);
}

.nav-contacts {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--descriptions-text-color);
}

.nav-contacts .contacts-icon {
	fill: currentColor;
}

.current-link {
	color: var(--text-selection-color);
}

.current-link::after {
	position: absolute;
	left: 0;
	bottom: 0;

	content: "";

	width: 100%;
	height: 4px;

	background: var(--text-selection-color);
	border-radius: 2px;
}

.nav-menu {
	gap: 50px;
	margin-left: 93px;
}

/* Hero */
.hero {
	padding-top: 200px;
	padding-bottom: 200px;
	max-width: 1600px;
	margin-right: auto;
	margin-left: auto;

	background-color: var(--background-hero);
	background-image: linear-gradient(
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url(../images/hero.jpg);
	text-align: center;
}
.hero-title {
	width: 696px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--main-background-color);
}

.hero-button {
	width: 216px;
	height: 50px;
	border-radius: 4px;

	cursor: pointer;
	font-family: "Roboto";
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: var(--main-background-color);
	background-color: var(--text-selection-color);
	border: 0px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	transition: background-color 250ms var(--cubic-bezier);
}

.hero-button:hover,
.hero-button:focus {
	background-color: #188ce8;
}

/* Advantages */
.advantages {
	display: flex;
	gap: 30px;
}

.advantages > .item {
	width: calc((100% - 3 * 30px) / 4);
}

.advantages-title {
	margin-bottom: 10px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--main-text-color);
}

.advatnages-icons {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 30px;
	height: 120px;

	background-color: #f5f4fa;
	border-radius: 4px;
}

.advantages-descriptions {
	color: var(--descriptions-text-color);
}

/*Activity */
.activity-section {
	padding-top: 0;
}

.activity {
	display: flex;
	gap: 30px;
}

.activity-title,
.team-title {
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	color: var(--main-text-color);
}

.activity > .item {
	position: relative;
}

.activity-description {
	position: absolute;
	left: 0;
	bottom: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 70px;

	font-weight: 700;
	line-height: 1.14;

	text-transform: uppercase;

	color: var(--main-background-color);
	background-color: rgba(47, 48, 58, 0.8);
}

/* Team */
.team-section {
	background-color: var(--third-text-color);
}

.team {
	display: flex;
	gap: 30px;
}

.team > .item {
	width: calc((100% - 3 * 30px) / 4);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;

	background-color: var(--main-background-color);
}

.team-card {
	padding-top: 30px;
	padding-bottom: 30px;
}

.team-name,
.team-position {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	color: var(--descriptions-text-color);
}

.team-name {
	margin-bottom: 10px;

	color: var(--main-text-color);
	font-weight: 500;
}

.team-position {
	margin-bottom: 16px;
}

.team-social {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.team-social-link {
	display: block;
	padding: 12px;
	border-radius: 50%;
	color: var(--social-icon-color);

	transition: color 250ms var(--cubic-bezier),
		background-color 250ms var(--cubic-bezier);
}

.team-social-item .icon {
	fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
	color: var(--main-background-color);
	background-color: var(--text-selection-color);
}

/* Постійні клієнти */
.clients-title {
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;

	color: var(--main-text-color);
}

.clients {
	display: flex;
	justify-content: space-between;
}

.clients-item {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 170px;
	height: 92px;

	color: var(--social-icon-color);
	border: 1px solid var(--social-icon-color);
	border-radius: 4px;

	transition: color 250ms var(--cubic-bezier), border 250ms var(--cubic-bezier);
}

.clients-item .icon {
	fill: currentColor;
}

.clients-item:hover,
.clients-item:focus {
	color: var(--text-selection-color);
	border: 1px solid var(--text-selection-color);
}

/* Footer */
footer {
	padding-top: 60px;
	padding-bottom: 60px;

	background-color: var(--background-footer);
}

.footer-div {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.logo-footer {
	display: block;
	margin-bottom: 20px;

	color: var(--main-background-color);
}

.footer-adress > .item {
	margin-bottom: 9px;
}

.footer-adress > .item:last-child {
	margin-bottom: 0px;
}

.footer-contacts {
	color: var(--main-background-color);
	font-style: normal;

	transition: color 250ms var(--cubic-bezier);
}

.footer-contacts.item {
	color: rgba(255, 255, 255, 0.6);

	transition: color 250ms var(--cubic-bezier);
}

.footer-contacts.item:hover,
.footer-contacts.item:focus {
	color: var(--text-selection-color);
}

.footer-title {
	margin-bottom: 20px;

	font-size: 14px;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;

	color: var(--main-background-color);
}

footer .team-social-link {
	background-color: rgba(255, 255, 255, 0.1);
}

.icon.footer {
	fill: var(--main-background-color);
}

/* Subscribe */
.subscribe-title {
	display: block;

	margin-bottom: 20px;

	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;

	color: var(--main-background-color);
}

.subscribe-input {
	padding: 0 0 0 16px;
	margin-right: 16px;

	width: 358px;
	height: 50px;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	color: var(--main-background-color);

	background-color: inherit;

	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;

	outline: none;

	transition: border-color 250ms var(--cubic-bezier);
}

.subscribe-input::placeholder {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;

	color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
	width: 200px;
	height: 50px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;

	color: var(--main-background-color);
	background-color: var(--text-selection-color);

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: 0;
	border-radius: 4px;

	cursor: pointer;
}

.subscribe-icon {
	margin-left: 10px;
	fill: currentColor;
}

.subscribe-button-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Portfolio */
.filter-button {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.filter-button > .item {
	margin-right: 8px;
}

.filter-button > .item:last-child {
	margin-right: 0;
}

.portfolio-buttons {
	padding: 6px 22px;

	cursor: pointer;
	font-family: "Roboto";
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
	background-color: var(--third-text-color);
	border: none;
	border-radius: 4px;
	height: 38px;

	transition: color 250ms var(--cubic-bezier),
		background-color 250ms var(--cubic-bezier),
		box-shadow 250ms var(--cubic-bezier);
}

.portfolio-buttons.first {
	padding-right: 25px;
	padding-left: 25px;
}

.portfolio-buttons:hover,
.portfolio-buttons:focus {
	color: var(--main-background-color);
	background-color: var(--text-selection-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.portfolio .item {
	width: calc((100% - 2 * 30px) / 3);

	background-color: var(--main-background-color);

	transition: box-shadow 250ms var(--cubic-bezier);
}

.portfolio .item:hover,
.portfolio .item:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card {
	padding: 20px 24px;

	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}

.portfolio-title {
	margin-bottom: 4px;

	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--main-text-color);
}

.portfolio-descriptions {
	font-size: 16px;
	line-height: 1.86;
	color: var(--descriptions-text-color);
}

/* Portfolio hover menu */

.hover-container {
	position: relative;

	overflow: hidden;
}

.hover-menu {
	position: absolute;
	bottom: -100%;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;

	background-color: rgba(33, 150, 243, 0.9);

	transition: transform 250ms var(--cubic-bezier);
}

.hover-description {
	width: 322px;

	font-size: 18px;
	line-height: 1.56;

	color: var(--main-background-color);
}

.portfolio .link:hover .hover-menu,
.portfolio .link:focus .hover-menu {
	transform: translateY(-100%);
}

/* Modal */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.2);

	opacity: 1;
	transition: opacity 250ms var(--cubic-bezier);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding: 40px;

	width: 528px;

	background: var(--main-background-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.modal-form {
	display: flex;
	flex-direction: column;
	align-items: center;

	color: var(--descriptions-text-color);
}

.modal-title {
	margin-bottom: 30px;

	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;

	color: var(--main-text-color);
}

.modal-label {
	position: relative;

	margin-bottom: 28px;

	border: 0;
}

.form-description {
	position: absolute;
	bottom: calc(100% + 4px);

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
}

.form-input {
	box-sizing: border-box;

	display: block;

	padding-left: 42px;

	width: 448px;
	height: 40px;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;

	color: var(--main-text-color);

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	outline: none;

	transition: border-color 250ms var(--cubic-bezier);
}

.modal-label:focus-within > .form-input,
.subscribe-label:focus-within > .subscribe-input {
	border-color: var(--text-selection-color);
}

.modal-label:focus-within > .form-icon {
	fill: var(--text-selection-color);
}

.form-input:not(:placeholder-shown) + .form-icon {
	fill: var(--text-selection-color);
}

.form-input::placeholder {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;

	color: rgba(117, 117, 117, 0.5);
}

.modal-label.comment {
	margin-bottom: 20px;
}

.modal-label.comment > .form-input {
	padding: 12px 16px;

	height: 120px;

	resize: none;
}

.form-icon {
	position: absolute;
	top: 50%;
	left: 12px;

	transform: translateY(-50%);

	fill: var(--main-text-color);

	transition: fill 250ms var(--cubic-bezier);
}

/* License chekbox */
.licence-label {
	display: flex;
	align-items: center;

	margin-bottom: 30px;
}

.checkbox-icon {
	display: inline-block;
	box-sizing: border-box;

	margin-right: 7px;

	fill: transparent;

	border: 2px solid var(--main-text-color);
	border-radius: 2px;

	transition: fill 250ms var(--cubic-bezier);
}

.checkbox:checked + .checkbox-icon {
	fill: var(--main-background-color);
	background-color: var(--text-selection-color);
	border: 0;
}

.license-link {
	text-decoration-line: underline;

	color: var(--text-selection-color);
}

.button-send {
	width: 200px;
	height: 50px;

	background-color: var(--text-selection-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: 0;
	border-radius: 4px;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;

	color: var(--main-background-color);

	cursor: pointer;

	transition: backgroun-color 250ms var(--cubic-bezier);
}

.button-send:hover,
.button-send:focus {
	background-color: #188ce8;
}

/* Close button */
.close-button {
	position: absolute;
	top: 8px;
	right: 8px;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 30px;
	height: 30px;

	color: #000000;
	background: var(--main-background-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;

	cursor: pointer;

	transition: color 250ms var(--cubic-bezier);
}

.close-button .icon {
	fill: currentColor;
}

.close-button:hover,
.close-button:focus {
	color: var(--text-selection-color);
}
