footer {
	padding-top: 60px;
	padding-bottom: 60px;

	background-color: var(--background-footer);

	@media screen and (max-width: 1199px) {
		text-align: center;
	}
}

.footer {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: baseline;
	}

	@media screen and (min-width: 1200px) {
		justify-content: space-between;
	}
}

.footer--contacts {
	@media screen and (max-width: 767px) {
		margin-bottom: 60px;
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin-right: 165px;
	}
}

.logo--footer {
	display: block;
	margin-bottom: 20px;

	color: var(--main-background-color);
}

.footer-address__item:not(:last-child) {
	margin-bottom: 8px;

	@media screen and (min-width: 1200px) {
		margin-bottom: 9px;
	}
}

.footer-address__contacts {
	color: var(--main-background-color);
	font-style: normal;

	transition: color 250ms var(--cubic-bezier);

	&:hover,
	&:focus {
		color: var(--text-selection-color);
	}
}

.footer-address__contacts--item {
	color: rgba(255, 255, 255, 0.6);
}

.social-networks__title {
	margin-bottom: 20px;

	font-size: 14px;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;

	color: var(--main-background-color);
}

.social-networks__link--footer {
	background-color: rgba(255, 255, 255, 0.1);
}

.social-networks__icon--footer {
	fill: var(--main-background-color);
}
