.logo {
	font-family: "Raleway", sans-serif;
	text-decoration: none;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.18;
	letter-spacing: 0.03em;
	color: #000000;

	@media screen and (min-width: 1200px) {
		font-size: 26px;
	}
}

.logo--text {
	color: var(--text-selection-color);
}
